<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- STYLES -->
    <link href="//yui.yahooapis.com/pure/0.4.2/pure-min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/knockout.js"></script>
    <script src="/js/falcon.js"></script>
    <script src="/js/falcon.jquery.js"></script>
</head>
<body>
    {{> page/templates }}
    <div class="hd wrapper"><div class="cont">{{> page/header }}</div></div>
    <div class="bd wrapper"><div class="cont">{{> page/body }}</div></div>
    <div class="ft wrapper"><div class="cont">{{> page/footer }}</div></div>

    <script src="/js/app.js"></script>
</body>
</html>